include ../label-wrapper/label-wrapper.pug
include ../radio-button-list/radio-button-list.pug
mixin radioButtonListWrapper(options)
    .radio-button-list-wrapper
        +labelWrapper({labelText:options.label})
        +radioButtonList(options)