include ../../label-wrapper/label-wrapper.pug
include ../../radio-button-wrapper/radio-button-wrapper.pug
mixin radioButtonListWrapper__radioButtonList(options)
    .radio-button-list
        -for (var radioButtonData of options.radioButtonsDataCollection)
            +radioButtonWrapper({radioButtonData:radioButtonData, name:options.name})