.section {
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
    justify-content: space-around;

	&__column {
		flex-basis: 33%;
		display: flex;
		flex-direction: column;
		padding: 4rem;
	}
    &__row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
