/*common*/
@import "colorsAndTypes.scss";
@import "general.scss";

/*ui-kit*/
@import "../../pug/ui-kit/form-elements/form-elements.scss";

/*components*/
/*Надо оптимизировать, чтобы стили сами подгружались, по возможности*/
@import "../../components/field-wrapper/field-wrapper.scss";
@import "../../components/field-wrapper/_dropdown/field-wrapper_dropdown.scss";
/* @import "../../components/field-wrapper/_textfield/field-wrapper_textfield.scss";*/
@import "../../components/input-wrapper/input-wrapper.scss";
@import "../../components/input-wrapper/__input/input-wrapper__input.scss";
@import "../../components/input-wrapper/_dropdown/input-wrapper_dropdown.scss";
@import "../../components/label-wrapper/label-wrapper.scss";
@import "../../components/label-wrapper/__label/label-wrapper__label.scss";
@import "../../components/label-wrapper/__label/_info/label-wrapper__label_info.scss";
@import "../../components/check-box-list-wrapper/__check-box-list/check-box-list-wrapper__check-box-list.scss";
@import "../../components/check-box-wrapper/check-box-wrapper.scss";
@import "../../components/check-box-wrapper/__check-box/check-box-wrapper__check-box.scss";
@import "../../components/radio-button-list-wrapper/__radio-button-list/radio-button-list-wrapper__radio-button-list.scss";
@import "../../components/radio-button-wrapper/__radio-button/radio-button-wrapper__radio-button.scss";
/* @import "../../components/check-box-wrapper/__label/check-box-wrapper__label.scss";*/
@import "../../components/header/header.scss";
@import "../../components/label-wrapper/label-wrapper.scss";