//Colors
$dark-shade-full: rgba(31, 32, 65, 1);
$dark-shade-almost: rgba(31, 32, 65, 0.75);
$dark-shade-semi: rgba(31, 32, 65, 0.5);
$dark-shade-little: rgba(31, 32, 65, 0.25);
$dark-shade-bit: rgba(31, 32, 65, 0.05);
$purple: #bc9cff;
$green: #6fcf97;

//Type
h1 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
}

h2 {
	font-style: normal;
	font-weight: bold;
	font-size: 19px;
	line-height: 23px;
}

h3 {
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	text-transform: uppercase;
}


body {
	background-color: rgb(255, 255, 255);
	font-family: Montserrat;
	font-size: 14px;
	line-height: 24px;
	color: $dark-shade-almost;
}
