include ./__label/label-wrapper__label.pug

mixin labelWrapper(options)
    .label-wrapper 
        +labelWrapper__label({labelText:options.labelText})
        if options.labelInfo
            +labelWrapper__label({labelInfo:options.labelInfo})
