include ../label/label.pug
include ./__info/label-wrapper__info.pug

mixin labelWrapper(labelText, labelInfo)
    .label-wrapper 
        +label({labelText:labelText})
        +label({labelInfo:labelInfo})
