mixin  fieldWrapper(labelText="УКАЖИТЕ НАДПИСЬ", inputValue="УКАЖИТЕ ТЕКСТ", type="textfield")

    case type
        when "textfield"
            div.field-wrapper
                h3.field-wrapper__label=labelText
                input.field-wrapper__input(value=inputValue, placeholder="Пустота") 