mixin radioButtonWrapper__radioButton(options)
    input.radio-button-wrapper__radio-button(type="radio", name=options.name, value=options.radioButtonData.value, checked=options.radioButtonData.isChecked)