include ./__label/check-box-wrapper__label
include ../check-box/check-box.pug
mixin checkBoxWrapper(checkBoxData)
    .check-box-wrapper
        +checkBox(checkBoxData)
        +checkBoxWrapper__label(checkBoxData)