include ./__label/check-box-wrapper__label
include ./__check-box/check-box-wrapper__check-box.pug
mixin checkBoxWrapper(checkBoxData)
    .check-box-wrapper
        +checkBoxWrapper__checkBox(checkBoxData)
        +checkBoxWrapper__label(checkBoxData)