.check-box-wrapper__check-box {
	appearance: none;
	cursor: pointer;
	width: 20px;
	height: 20px;
	background-color: #fff;
	border: 1px solid;
	border-color: getDarkShadeColor("little");
	border-radius: 4px;
	&-wrapper {
		display: flex;
		&__label {
			display: inline-block;
			color: getDarkShadeColor("semi");
			vertical-align: bottom;
		}
	}
	/*???*/
	&:after {
		content: "\2714";
		font-size: 14px;
		color: #fff;
	}
	&:active,
	&:checked {
		border: 1px solid #bc9cff;

		&:after {
			content: "\2714";
			font-size: 14px;
			position: relative;
			top: 0px;
			left: 3px;
			color: #BC9CFF;
			transform: rotate(45deg);
		}
	}
}