include ./__input/input-wrapper__input.pug
mixin inputWrapper(options)
    .input-wrapper(class != "input-wrapper_" + options.labelInfo + " input-wrapper_" + options.type)
        +inputWrapper__input(options)
        if options.type === "dropdown"
            +expandMoreIcon

mixin expandMoreIcon
    svg.field-wrapper__icon(xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24")
        path(d="M0 0h24v24H0z" fill="none")
        path(d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z")

