.field-wrapper {
	display: flex;
	flex-direction: column;

	&__input-wrapper {
		display: flex;
		flex-direction: row;
		border: 1px solid getDarkShadeColor("little");
		border-radius: 4px;
	}
	&__input {
		cursor: inherit;
		width: 100%;
		border: none;
		border-radius: 4px;
		padding: 12px 15px 8px 15px;

		&:placeholder-shown {
			color: getDarkShadeColor("little");
		}

		&:hover,
		&:focus,
		&_hover\/focus {
			border-color: getDarkShadeColor("semi");
		}
	}
	&__icon {
		width: 40px;
		height: 40px;
		color: getDarkShadeColor("semi");
	}
	&_dropdown {
		cursor: pointer;
	}
}
